@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
	margin: 0;
	font-family: 'Poppins',sans-serif;
	padding: 0;
	box-sizing: border-box;
}
.banner{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url('img/bg.jpg');
	background-size: cover;
	background-position: bottom;
}
.banner .cloud{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.banner .cloud img{
	position: absolute;
	bottom: 0;
	max-width: 100%;
	animation: animate calc(8s* var(--i)) linear infinite;
}
@keyframes animate{
 0%{
 	transform: translateX(-100%);
 }
 100%{
 	transform: translateX(100%);
 }
}

section{
	position: relative;
	padding: 75px 100px;
}
section h2{
	font-size: 2.5em;
	margin-bottom: 20px;
}