*{
  box-sizing: border-box;
}
.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap:wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-50{
-ms-flex:50%;
flex:50%;

}
.col-75{
  -ms-flex:75%;
  flex:75%;

}
.col-25{
  -ms-flex:25%;
  flex: 25%;
}
.col-25,
.col-50,
.col-75{
  padding:0 16px;
}
.container{
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
input{
  width:100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
h3{
  font-family: 'Roboto', sans-serif;
}
.state{
  margin-left: 50%;
}
.width{
  width:40%;
}
.Zip{
  width:44.8%;
  margin-left:95px;
}
.icon-container{
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
.shipping{
  width:auto;
  margin-right: 15px;
}
.btn{
  background-color: #4CAF50;
  color:white;
  font-size: 24px;
  margin:10px;
}
.btn:hover{
  background-color: #45a049;
}
a{
  color:#2196F3;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
span.price{
  float:right;
  color: grey;
}
i{
  margin-right: 10px;
}
@media(max-width:800px){
  .row{
    flex-direction: column-reverse;
  }
  .col-25{
    margin-bottom: 20px;
  }
}
